* {
  box-sizing: content-box;
}

:root {
    --primary-color: #27ae60;
    --lightgray-color: #ecf0f1;
    --darkblue-color: #2c3e50;
}

body {
  background-color: #f4f4f4;
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.highlight {
  color: var(--primary-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header */
.header {
  background-color: var(--darkblue-color);
  border-bottom: 3px solid var(--primary-color);
  color: var(--lightgray-color);
  min-height: 70px;
  padding: 20px 0;
}

.header__brand {
  float: left;
}

.header__brand h1 {
  margin: 0;
}

.header__brand i {
  vertical-align: sub;
}

.header__nav {
  float: right;
  margin-top: 30px;
}

.header__nav li {
  display: inline-block;
  float: left;
}

.header__nav li a {
  color: var(--lightgray-color);
  opacity: .6;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .2s;
}

.header__nav .nav__item--current a {
 color: var(--primary-color);
 opacity: .8;
}

.header__nav li a:hover {
  opacity: 1;
}

/* Hero */
.hero--home {
  background: url('../img/home-bg.jpeg') no-repeat;
  background-size: cover;
  color: var(--lightgray-color);
  text-align: center;
}

.hero--home .container {
  padding: 12em 0;
}

.hero__title {
  font-size: 4em;
  margin: 0;
}

.hero__para {
  font-size: 1.3em;
  line-height: 1.4;
}

/* Subscription */

.subscribtion {
  background-color: var(--darkblue-color);
  color: var(--lightgray-color);
}

.subscribtion .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

.subscribtion h1 {
  margin: 0;
}

.subscribtion__form input,
.subscribtion__form button {
  border: 0;
  border-radius: 40px;
  font-size: 1em;
  font-family: 'Varela Round', sans-serif;
  padding: .8em 2em;
}

.subscribtion__form input {
  background-color: var(--lightgray-color);
  color: var(--darkblue-color);
}

.subscribtion__form button {
  background-color: var(--primary-color);
  color: var(--lightgray-color);
  cursor: pointer;
}

/* Technologies */

.technologies .container {
  color: var(--darkblue-color);
  padding: 4em 0;
}

.technologies__cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.technologies h1 {
  font-size: 3em;
  margin-top: 0;
}

.technologies__card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  width: 25%;
}

.technologies__card h3 {
  font-size: 1.5em;
}

.technologies__card--html i {
  color: #f69b74;
}

.technologies__card--css i {
  color: #71c4e7;
}

.technologies__card--js i {
  color: #f6d46e;
}

/* Footer */

.footer {
  background-color: var(--darkblue-color);
  color: var(--lightgray-color);
  text-align: center;
}

.footer .container {
  padding: 2em 0;
}

.footer .fa-heart {
  color: var(--primary-color);
}

/* About.html */

.hero--about {
  background: url('../img/about-bg.jpeg') no-repeat center;
  background-size: cover;
  color: var(--lightgray-color);
  text-align: center;
}

.hero--about .container {
  padding: 12em 0;
}

.hero__title {
  font-size: 4em;
  margin: 0;
}

.story .container {
  color: var(--darkblue-color);
  padding: 4em 0;
}

.story h1 {
  font-size: 3em;
  margin-top: 0;
}

/* Services.html */
.services .container {
  color: var(--darkblue-color);
  padding: 4em 0;
}

.services h1 {
  font-size: 3em;
  margin-top: 0;
}

.services__flex-container {
  display: flex;
  justify-content: space-between;
}

.services__items {
  width: 73%;
}

.services__quote {
  width: 20%;
}

.services__item {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.2);
  padding: 2em;
  margin: 1em 0;
}

.services__item h3 {
  font-size: 1.5em;
  margin-top: 0;
}

.services__quote {
  background-color: var(--darkblue-color);
  color: var(--lightgray-color);
  border-radius: 3px;
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.2);
  padding: 2em;
  margin: 1em 0;
}

.services__quote * {
  box-sizing: border-box;
}

.services__quote h3 {
  margin-top: 0;
}

.form__line * {
  display: block;
  width: 100%;
}

.form__line input,
.form__line textarea,
.quote__form button {
  border: 0;
  border-radius: 40px;
  color: var(--darkblue-color);
  font-size: 1em;
  font-family: 'Varela Round', sans-serif;
  margin-bottom: 1.5em;
  padding: .5em 0em .5em 1em;
}

.quote__form button {
  padding: .8em 2em;
  background-color: var(--primary-color);
  color: var(--lightgray-color);
  cursor: pointer;
  width: 100%;
  margin-bottom: 0;
}

.form__line textarea {
  border-radius: 15px;
  resize: none;
}
