* {
  box-sizing: content-box-box;
}

:root {
    --primary-color: #27ae60;
    --lightgray-color: #ecf0f1;
    --darkblue-color: #2c3e50;
}

body {
  background-color: #f4f4f4;
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.highlight {
  color: var(--primary-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header */
.header {
  background-color: var(--darkblue-color);
  border-bottom: 3px solid var(--primary-color);
  color: var(--lightgray-color);
  min-height: 70px;
  padding: 20px 0;
}

.header__brand {
  float: left;
}

.header__brand h1 {
  margin: 0;
}

.header__brand i {
  vertical-align: sub;
}

.header__nav {
  float: right;
  margin-top: 30px;
}

.header__nav li {
  display: inline-block;
  float: left;
}

.header__nav li a {
  color: var(--lightgray-color);
  opacity: .6;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .2s;
}

.header__nav .nav__item--current a {
 color: var(--primary-color);
 opacity: .8;
}

.header__nav li a:hover {
  opacity: 1;
}

/* Hero */
.hero {
  background: url('../img/bg.jpeg') no-repeat;
  background-size: cover;
  color: var(--lightgray-color);
  text-align: center;
}

.hero .container {
  padding: 12em 0;
}

.hero__title {
  font-size: 4em;
  margin: 0;
}

.hero__para {
  font-size: 1.3em;
  line-height: 1.4;
}

/* Subscription */

.subscribtion {
  background-color: var(--darkblue-color);
  color: var(--lightgray-color);
}

.subscribtion .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

.subscribtion h1 {
  margin: 0;
}

.subscribtion__form input {
  border: 0;
  background-color: var(--lightgray-color);
  border-radius: 40px;
  color: var(--darkblue-color);
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  padding: .8em 2em;
}

.subscribtion__form button {
  border: 0;
  border-radius: 40px;
  background-color: var(--primary-color);
  color: var(--lightgray-color);
  cursor: pointer;
  font-size: 1em;
  font-family: 'Varela Round', sans-serif;
  padding: .8em 2em;
}
